@"
# 공통
node_modules/
**/.next/
**/dist/
**/*.log
*.log
.DS_Store

# env
.env*
apps/web/.env.local

# DB(개발용)
**/prisma/*.db
*.db

# 빌드 캐시/트레이스
**/.rscinfo
**/trace
"@ | Set-Content -Encoding UTF8 .gitignore
