# 공통
node_modules/
**/.next/
**/dist/
**/*.log
*.log
.DS_Store

# env
**/.env
**/.env.*
.env*

# DB(개발용)
**/prisma/*.db
*.db

# 빌드 캐시/트레이스
**/.rscinfo
**/trace

# Expo/React Native (store-notice-app)
**/.expo/
**/android/
**/ios/
*.jks
*.p8
*.p12
*.mobileprovision

# Windows
nul
**/nul
