# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Build outputs
dist/
*.map

# Env
.env
.env.* !.env.example

# OS
.DS_Store
Thumbs.db

# SQLite (Prisma)
**/prisma/*.db
**/prisma/*.db-journal

# Temp & caches
*.tmp
*.swp
